<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
    <title>Информация о человеке</title>
</head>

<body>
<div th:replace="general :: page-header"> </div>

<div class="indent">
    <div id="personInfo">
        <h4 th:text="${person.getName()}"></h4>
        <p th:if="${person.getName() != null}" th:text="'Имя: ' + ${person.getName()}"></p>
        <p th:if="${person.getGender() != null}" th:text="'Пол: ' + ${person.getGender()}"></p>
        <p th:if="${person.getBirth() != null}" th:text="'Дата рождения: ' + ${person.getBirth()}"></p>
        <p th:if="${person.getDeath() != null}" th:text="'Дата смерти: ' + ${person.getDeath()}"></p>
        <p th:if="${relationService.bornInMarriage(person) == false}" th:text="'Законнорожденный: нет'"></p>
        <p th:if="${relationService.bornInMarriage(person) == true}" th:text="'Законнорожденный: да'"></p>
        <p th:if="${person.getCharacter() != null}" th:text="'Краткая характеристика: ' + ${person.getCharacter()}"></p>

        <p> Места проживания:&nbsp <span th:if="${person2placeService.getAllPersonsPlaces(person.getId()) == null}">нет</span>
            <a th:each="place, iter: ${person2placeService.getAllPersonsPlaces(person.getId())}" th:href="'/place?placeId=' + ${place.getId()}">
                <span th:text="${place.getName()} + ${!iter.last ? ',' : ''}"></span>
            </a>
        </p>

    </div>

    <!--edit delete order button group-->
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <form style="margin-right: 30px" method="get" action="/editPerson">
                <input type="hidden" name="personId" th:value="${person.getId()}"/>
                <button id="editButton" type="submit" class="btn btn-secondary">Редактировать информацию о человеке</button>
            </form>
            <form method="post" action="/removePerson">
                <input type="hidden" name="personId" th:value="${person.getId()}"/>
                <button id="deleteButton" type="submit" class="btn btn-secondary">Удалить человека из базы</button>
            </form>
        </div>
    </div>
    <!--end of button group-->

</div>

<div th:replace="general :: site-footer"></div>
<div th:replace="general :: site-script"></div>

</body>
</html>