<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Информация о месте</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div th:replace="general :: page-header"> </div>

<div class="indent">
    <div id="placeInfo">
        <h4 th:text="${place.getName()}"></h4>
        <p th:text="'Название: ' + ${place.getName()}"></p>
        <p th:text="'Описание: ' + ${place.getDescription()}"></p>

        <p> Люди из населённого пункта:&nbsp <span
                th:if="${placeService.personsFromPlace(place) == null}">нет</span>
            <a th:each="person, iter: ${placeService.personsFromPlace(place)}"
               th:href="'/person?personId=' + ${person.getId()}">
                <span th:text="${person.getName()} + ${!iter.last ? ',' : ''}"></span>
            </a>
        </p>
    </div>

    <!--edit delete order button group-->
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <form style="margin-right: 30px" method="get" action="/editPlace">
                <input type="hidden" name="placeId" th:value="${place.getId()}"/>
                <button id="editButton" type="submit" class="btn btn-secondary">Редактировать информацию о населённом
                    пункте
                </button>
            </form>
            <form style="margin-right: 30px" method="post" action="/removePlace">
                <input type="hidden" name="placeId" th:value="${place.getId()}"/>
                <button id="deleteButton" type="submit" class="btn btn-secondary">Удалить населённый пункт из базы
                </button>
            </form>
        </div>
    </div>
    <!--end of button group-->

</div>

<div th:replace="general :: site-footer"></div>
<div th:replace="general :: site-script"></div>
</body>
</html>